body {
    display: flex;
    justify-content: space-between;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

a {
    text-decoration: none;
    color: dodgerblue;
    font-weight: 600;
}

.container {
    display: flex;
}

@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}

.header {
    font-family: 'Wotfard','Wotfard-fallback',sans-serif;
    text-align: center;
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: white;
    height: 100vh;
    width: 60vw;
}

.sidebar {
    width: 40vw;
    background-image: url(./images/chirayu.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logoBox {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    height: auto;
    background-color: rgba(0,0,0,.3);
    color: white;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    top: 25vh;
    padding: 15px 0;
}

#odin {
    height: 10vh;
}

.logoBox p {
    font-family: norse-bold;
    font-size: 4em;
    margin: 0px;
    padding: 0px;
    margin-top: .2em;
}

.topBox {
    display: flex;
    flex: 0 1 35%;
    justify-content: flex-end;
    padding: 2vh 0;
    padding-right: 10vw;
}

.topBox p {
    display: inline-block;
    align-self: flex-end;
}

.centerBox {
    display: flex;
    flex-flow: row wrap;
    box-shadow: 3px 2px 10px lightgray;
    padding-bottom: 3vh;
    gap: 20px;
}

.mainText {
    font-weight: 500;
    font-size: 1.3em;
    width: 60vw;
    opacity: 90%;
}

.botBox {
    display: flex;
    flex: auto;
    padding: 4vh 0;
    gap: 8px;
    align-items: center;
}

form {
    padding: 0px;
    margin: 0px;
    gap: 12px;
}

.input {
    display: flex;
    flex: wrap;
    flex-flow: column wrap;
    width: 40%;
    font-size: .7em;
    opacity: 70%;
}

button {
    background-color:darkcyan;
    color: azure;
    border: none;
    box-shadow: 3px 3px 5px lightgray;
    margin-top: 4vh;
    padding: 10px 40px;
    font-weight: 700;
    font-size: 1.3em;
    border-radius: 8px;
}

.leftPad {
    padding-left: 3vw;
}