:root {
    --test: 1px;
}

* {
    font-family: 'Wotfard','Wotfard-fallback',sans-serif;
}

body {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.container {
    display: flex;
}

@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}

.header {
    font-family: 'Wotfard','Wotfard-fallback',sans-serif;
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: white;
    height: 100vh;
    width: 60vw;
}

.sidebar {
    width: 40vw;
    background-image: url(./images/chirayu.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logobox {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    height: auto;
    background-color: rgba(0,0,0,.3);
    color: white;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    top: 25vh;
    padding: 15px 0;
}

#odin {
    height: 10vh;
}

.logobox p {
    font-family: norse-bold;
    font-size: 4em;
    margin: 0px;
    padding: 0px;
    margin-top: .2em;
}

.topbox {
    display: flex;
    flex: 0 1 35%;
    font-weight: 550;
    justify-content: flex-end;
    padding: 2.2vh 2.2vw;
    padding-right: 10vw;
}

.topbox p {
    display: inline-block;
    align-self: flex-end;
}

.centerbox {
    display: flex;
    box-shadow: 3px 2px 10px lightgray;
    flex: 0 1 30%;
}

.botbox {
    display: flex;
    flex: auto;
}